* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  display: flex;
  justify-content: space-between;

  padding: 2rem 0;
  text-transform: uppercase;
}
nav img {
  padding-left: 7rem;
}
nav ul {
  display: flex;
  text-align: right;
  list-style: none;
  gap: 2rem;
  padding-right: 8rem;
}
nav a {
  text-decoration: none;
  font-size: 0.9rem;
  color: black;
}
section {
  background-color: #fff;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}
.parent {
  width: 55%;
  display: flex;
  gap: 7rem;
  margin-bottom: 4rem;
  margin-inline: auto;
  /* margin-left: auto;
  margin-right: auto; */
}
.img-div {
  width: 80%;
}
img {
  width: 100%;
}
.text-div p {
  margin-bottom: 2rem;
}

@media screen and (max-width: 768px) {
  .parent {
    flex-direction: column;
  }
  .img-div {
    width: 50%;
  }
}
